@media only screen and (max-width: 767px) {
  body {
    transform: scale(0.9);
    margin: 0 auto;
    max-width: 600px;
    width: 600px;
    overflow: hidden;
  }
  
  #gen-check {
    justify-content: center;
    padding-left: 30px;
  }
  
  #gen_check {
    width: 40px;
  }
  
  #sig {
    display: flex;
    margin: auto;
    text-align: center;
    top: -5px;
  }
  
  #wrapper {
    position: absolute;
    width: 500px;
    margin: 0 auto;
    margin-right: 100px;
    left: -170px;
    top: 20px;
    font-size: 0.8em;
    overflowX: hidden;
  }
  
  .icons {
    position: absolute;
    max-width: 430px;
    top: 300px;
    left: 150px;
  }
  
  #result {
    max-height: 30px;
  }
  
  #currentGuess {
    position: absolute;
    margin-left: 13px;
  }
  
  #type-1 {
    position: absolute;
    margin-left: 19px;
    max-width: 85px;
  }
  
  #type-2 {
    position: absolute;
    margin-left: 18px;
    max-width: 85px;
  }
  
  #height {
    position: absolute;
    margin-left: 22px;
    max-width: 75px;
  }
  
  #weight {
    position: absolute;
    margin-left: 25px;
    max-width: 80px;
  }
  
  #gen {
    position: absolute;
    margin-left: 27px;
    max-width: 70px;
  }
  
  #static-icons {
    position: absolute;
    left: 0px;
    margin-top: -20px;
    max-width: 450px;
    margin-bottom: 20px;
    margin-left: -30px;
  }
}

:root {
  --Normal: #A8A77A;
  --Fire: #EE8130;
  --Fighting: #C22E28;
  --Water: #6390F0;
  --Flying: #A98FF3;
  --Grass: #7AC74C;
  --Poison: #A33EA1;
  --Electric: #F7D02C;
  --Ground: #E2BF65;
  --Psychic: #F95587;
  --Rock: #B6A136;
  --Ice: #96D9D6;
  --Bug: #A6B91A;
  --Dragon: #6F35FC;
  --Ghost: #735797;
  --None: #ebe8e8;
  --Steel: #B7B7CE;
  --Fairy: #D685AD;
  --Dark: #705746;
}

#wrapper {
   position: relative;
   margin: auto;
   width: 767px;
   flex-wrap: wrap;
   align-items: center;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
}

.main {
  max-width: 767px;
  left: 60%;
  top: 42%;
}

body {
  background-color: #8EC5FC;
  background: url(https://i.pinimg.com/564x/98/c1/5a/98c15a449a1166ec23f5c9f1f63995dd.jpg) repeat;
  height: 100vh;
  width: 100vw;
  overflowY: hidden;
}

h2 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-family: helvetica;
  margin-top: 30px;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  margin-bottom: 10px;
}

h3 {
  position: relative;
  left: 50%;
  top: 5%;
  font-size: 1.15em;
  width: 700px;
  transform: translate(-50%, 0);
  text-align: center;
  font-family: helvetica;
  margin-top: 30px;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  margin-bottom: 10px;
}

#maxGuesses {
  font-size: 1.4em;
}

#gen-check {
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: helvetica;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-weight: bold;
  margin-right: 150px;
  margin-bottom: 10px;
}

#gen_check {
  margin-left: 5px;
  text-align: center;
}

#guessTally {
  position: relative;
  left: 10%;
  top: 0%;
  transform: translate(-50%, 0);
  text-align: center;
  font-family: helvetica;
  color: white;
  margin-bottom: 15px;
  font-weight: bold;
}

#guessTallyTotal {
  position: relative;
  left: 10%;
  top: 100%;
  transform: translate(-50%, 0);
  text-align: center;
  font-family: helvetica;
  color: white;
  margin-bottom: 15px;
  font-weight: bold;
}

#myList {
  margin: auto;
  position: relative;
  margin-top: -110px;
  width: 300px;
  text-align: center;
  left: 42px;
  overflow: hidden;
  overflow-y: scroll;
  height: 300px;
  z-index: 200;
}

#myList::-webkit-scrollbar {
  display: none;
}

#myList {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.poke_choices {
  display: block;
  border: 1px solid #fff;
  background-color: #f1f1f1;
  font-family: arial;
  font-size: 11px;
  width: 215px;
  height: 60px;
  line-height: 1.6;
  top: 10px;
}

.poke_choices:hover {
  background-color: #98d6ae;
}

.poke_choices_bold {
  font-weight: bold;
  font-size: 18px;
}

#check-btn {
  position: relative;
  left: 42%;
  top: 2px;
  transform: translate(-50%, 0);
  height: 25px;
  width: 90px;
  border-radius: 4px;
  color: white;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68     100%);
  border-width: thick;
  border-color: white;
}

#start-btn {
  position: relative;
  left: 29.8%;
  top: -60px;
  transform: translate(-50%, 0);
  height: 25px;
  width: 90px;
  border-radius: 4px;
  color: white;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68     100%);
  border-width: thick;
  border-color: white;
}

#reset-btn {
  position: relative;
  left: 17.5%;
  top: -29px;
  transform: translate(-50%, 0);
  height: 25px;
  width: 90px;
  border-radius: 4px;
  color: white;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68     100%);
  border-width: thick;
  border-color: white;
}

#text-input {
  position: relative;
  left: 50%;
  top: 43%;
  transform: translate(-50%, 0);
  text-align: center;
  width: 220px;
  height: 23px;
  border-radius: 2px;
  border-color: white;
}

input:focus {
  outline: none;
}

#result {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  margin-bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 290px;
  height: 45px;
  margin-top: 1%;
  font-family: helvetica;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-weight: bold;
  font-size: 1em;
  border-radius: 100px;
}

.icons {
  position: absolute;
  left: 47%;
  transform: translate(-50%, 0);
  font-family: helvetica;
  font-weight: bold;
  text-align: center;
  color: #662d91;
  font-size: 1.1em;
  width: 75%;
  height: 100px;
  padding-top: 0;
}

#currentGuess {
  position: relative;
  margin-top: 20px;
  top: 20px;
  left: -3.5%;
  padding-bottom: 5%;
  border-radius: 5px;
  column-gap: 12px;
  margin-bottom: 10px;
  width: 105px;
  height: 0px;
  line-height: 18px;
  margin-top: 7px;
  display: hidden;
  font-size: 0.9em;
  color: #000;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}

.guess {
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
  margin: 2px;
}

#static-icons {
    position: relative;
    left: 52.6%;
    transform: translate(-50%, 0);
    font-family: helvetica;
    font-weight: bold;
    text-align: center;
    display: flex;
    color: #243642;
    
}

#pokemon-guess-icon, #type1-icon, #type2-icon, #gen-icon {
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
    border-radius: 4px;
    column-gap: 10px;
  }

#height-icon, #weight-icon {
    padding-right: 6px;
    padding-left: 6px;
    background-color: white;
    border-radius: 4px;
    column-gap: 10px;
}

#type1-icon, #type2-icon {
  width: 70px;
}

#gen-icon {
  width: 35px;
}

#type-1 {
  position: absolute;
  top: 18px;
  left: 16%;
  padding-bottom: 5%;
  border-radius: 5px;
  column-gap: 12px;
  margin-bottom: 10px;
  width: 100px;
  height: 30px;
  line-height: 18px;
  margin-top: 7px;
  display: hidden;
  font-size: 0.9em;
  color: #000;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}

#type-2 {
  position: absolute;
  top: 18px;
  left: 33.5%;
  padding-bottom: 5%;
  /*background-color: white;*/
  border-radius: 5px;
  column-gap: 12px;
  margin-bottom: 10px;
  width: 100px;
  height: 30px;
  line-height: 18px;
  margin-top: 7px;
  display: hidden;
  font-size: 0.9em;
  color: #000;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}

#height {
  position: absolute;
  top: 18px;
  left: 51%;
  /*background-color: white;*/
  border-radius: 5px;
  column-gap: 10px;
  width: 92px;
  height: 15px;
  line-height: 18px;
  margin-top: 7px;
  display: hidden;
  font-size: 0.9em;
  color: #000;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}

#weight {
  position: absolute;
  top: 18px;
  left: 67%;
  /*background-color: white;*/
  border-radius: 5px;
  column-gap: 10px;
  width: 100px;
  height: 15px;
  line-height: 18px;
  margin-top: 7px;
  display: hidden;
  font-size: 0.9em;
  color: #000;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}

#gen {
  position: absolute;
  top: 18px;
  left: 84.5%;
  /*background-color: white;*/
  border-radius: 5px;
  column-gap: 10px;
  width: 60px;
  height: 15px;
  line-height: 18px;
  margin-top: 7px;
  display: hidden;
  font-size: 0.9em;
  color: #000;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}

#types {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-wrap: wrap;
  left: 50%;
  transform: translate(-50%, 0);
  grid-template-columns: repeat(6, 1fr);
  gap: 1px;
  padding-top: 150px;
  align-items: center;
  z-index: 3;
}

#Normal {
  background-color: var(--Normal);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Fire {
  background-color: var(--Fire);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Fighting {
  background-color: var(--Fighting);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Water {
  background-color: var(--Water);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Flying {
  background-color: var(--Flying);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Grass {
  background-color: var(--Grass);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Poison {
  background-color: var(--Poison);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Electric {
  background-color: var(--Electric);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Ground {
  background-color: var(--Ground);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Dark {
  background-color: var(--Dark);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Psychic {
  background-color: var(--Psychic);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Rock {
  background-color: var(--Rock);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Ice {
  background-color: var(--Ice);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Bug {
  background-color: var(--Bug);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Dragon {
  background-color: var(--Dragon);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Ghost {
  background-color: var(--Ghost);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#None {
  background-color: var(--None);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Steel {
  background-color: var(--Steel);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#Fairy {
  background-color: var(--Fairy);
  height: 20px;
  width: 60px;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#sig {
  color: #fff;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  justify-content: center;
  font-size: 0.6em;
  letter-spacing: 0.25em;
  margin-top: 2%;
  width: 400px;
  height: 40px;
}
